<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2><%= outcome %></h2>
	<br>
	<table>
		<% counter = 1 %>
	    	<% game_board.board.each_pair do |board_index, board_piece| %>
	    	<% if counter%3 == 1  %>
	    		<tr>
	    	<% end %>
	    	<% if  board_piece  == "x" %>
				<td id="<%= board_index %>" class="x" onclick="chooseMarker(this.id)"><%= board_piece %></td>
			<% elsif  board_piece  == "o" %>
				<td id="<%= board_piece %>" class="o" onclick="chooseMarker(this.id)"><%= board_piece %></td>
			<% else %>
				<td id="<%= board_index %>" onclick="chooseMarker(this.id)"><%= board_piece %></td>
			<% end %>
			<% if counter%3 == 0  %>
				</tr>
			<% end %>
				<% counter = counter+1  %>
			<% end %>
	</table>
	<br><br>
	<p>Would you like to try again?</p>
	<button onclick="window.location.href='/'" class="btn">Yes</button>
	<button onclick="window.location.href='http://lmgtfy.com/?q=How+to+get+better+at+tic+tac+toe%3F'" class="btn">No</button>
</body>
</html>