<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2><%= outcome %></h2>
	<table>
	    <tr>
	        <td><%= game_board.board["1"] %></td>
	        <td><%= game_board.board["2"] %></td>
	        <td><%= game_board.board["3"] %></td>
	    </tr>
	    <tr>
	        <td><%= game_board.board["4"] %></td>
	        <td><%= game_board.board["5"] %></td>
	        <td><%= game_board.board["6"] %></td>
	    </tr>
	    <tr>
	        <td><%= game_board.board["7"] %></td>
	        <td><%= game_board.board["8"] %></td>
	        <td><%= game_board.board["9"] %></td>
	    </tr>
	</table>
	<br><br>
	<p>Would you like to try again?</p>
	<button onclick="window.location.href='/'">Yes</button>
	<button onclick="window.location.href='http://lmgtfy.com/?q=How+to+get+better+at+tic+tac+toe%3F'">No</button>
</body>
</html>