<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<table>
	    <tr>
	        <td><%= game_board.board["1"] %></td>
	        <td><%= game_board.board["2"] %></td>
	        <td><%= game_board.board["3"] %></td>
	    </tr>
	    <tr>
	        <td><%= game_board.board["4"] %></td>
	        <td><%= game_board.board["5"] %></td>
	        <td><%= game_board.board["6"] %></td>
	    </tr>
	    <tr>
	        <td><%= game_board.board["7"] %></td>
	        <td><%= game_board.board["8"] %></td>
	        <td><%= game_board.board["9"] %></td>
	    </tr>
	</table>
	<div>
		<p><%= error %></p>
	</div>
	<br>
	<form method="post" action="post_player_vs_ai"> 
		<div>
			<input id="move" type="text" name="move" placeholder="Move selection" maxlength="1" pattern="^\d*[123456789]$" required autofocus="">
		</div>
		<br>
		<div>
			<input type="submit" class="btn">
		</div>
	</form>
</body>
</html>